body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: radial-gradient(circle, #1a1a2e, #000);
  color: white;
}

canvas {
  display: block;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 25px pink;
}

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: pink;
}

/* HUD */
#hud {
  position: absolute;
  top: 10px;
  left: 20px;
}

/* MOBILE CONTROLS */
#controls {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#controls button {
  width: 90px;
  height: 90px;
  font-size: 32px;
  border-radius: 50%;
  background: rgba(255,105,180,0.8);
  color: white;
}
